* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: logoFont;
    src: url(norse-bold-webfont.woff);
}

main {
    margin: auto 10%;
    display: flex;
    font-family: "Helvetica", "Arial", sans-serif;
}

.image-sidebar {
    background-image:url(/fredrik-solli-wandem-fWs5UzeoVnE-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    min-width: 35%;
}

.logo {
    margin-top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    background-color: rgba(84, 89, 88, 0.2);
    padding: 0.5em;
}

.logo>img {
    height : 8rem;
}

.logo > h1 {
    font-family: logoFont;
    font-size: 6rem;
    color: aliceblue;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.form-header, .form-footer {
    background-color: #F6F7F8;
    height: 100%;
    padding-left:3em;
}

.form-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2rem;
    padding-bottom: 4rem;
    padding-right: 10rem;
}