* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: logoFont;
    src: url(norse-bold-webfont.woff);
}

main {
    margin: auto 10%;
    display: flex;
    font-family: "Helvetica", "Arial", sans-serif;
}

.image-sidebar {
    background-image:url(/fredrik-solli-wandem-fWs5UzeoVnE-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    min-width: 35%;
}

.logo {
    margin-top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    background-color: rgba(84, 89, 88, 0.2);
    padding: 0.5em;
}

.logo>img {
    height : 8rem;
}

.logo > h1 {
    font-family: logoFont;
    font-size: 6rem;
    color: aliceblue;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.form-header, .form-footer {
    background-color: #F6F7F8;
    height: 100%;
    padding-left:3em;
}

.form-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2rem;
    padding-bottom: 4rem;
    padding-right: 10rem;
    max-height: 32vh;
}

.form-footer > p {
    display: inline;
    font-size: medium;
    box-shadow: inset;
}

.form-footer > button {
    display: block;
    background-color: rgb(39, 102, 74);
    padding: 0.75em 3em;
    border: 1px solid black;
    border-radius: 0.5em;
    color: aliceblue;
    font-size: medium;
    margin: 2em 0;
}

.form-footer > button:focus, .form-footer > button:hover {
    cursor: pointer;
}

.form-footer >button:active {
    color: rgb(39, 102, 74) ;
    background-color: aliceblue;
}

.form-footer > a {
    color: rgb(39, 102, 74);
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
}

.form-main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-left: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.name-row, .contact-row, .passwords-row{
    display: flex;
    gap:4em;
}

.form-row {
    display: flex;
    flex-direction: column;
}

input{
    width: 15em;
    height: 2em;
    border: 1px solid rgb(228, 225, 225);
    border-radius: 0.25em;
    background-color: #fefefe;
    padding: 1em 0.5em;
    font-size: medium;
}

input:focus {
    outline: none;
    border: 1px solid rgb(52, 133, 96);
}

label {
    font-size: small;
    color: black;
    font-weight: lighter;
    margin-bottom: 0.25em;
}

span {
    margin-top: 0.75em;
    font-size: small;
    color: black;
    font-style: italic;
}